<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout com 3 Unidades</title>
  <link rel="stylesheet" href="lancamentos.component.css">
</head>
<body>
  <div class="container">
  
    <div class="unidade">
      <div class="texto">
        <h2>Moana 2 </h2>
      </div>
      <div class="texto">
        <p>28 de Novembro de 2024 nos cinemas</p>
      </div>
      <div class="video">
        <iframe width="320" height="180" src="https://www.youtube.com/embed/3ttBrGSEf6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <!-- Unidade 2 -->
    <div class="unidade">
      <div class="texto">
        <h2>Mufasa: O Rei Leão</h2>
      </div>
      <div class="texto">
        <p>19 de Dezembro de 2024 nos cinemas<p>
      </div>
      <div class="video">
        <iframe width="320" height="180" src="https://www.youtube.com/embed/Cv6fKI3qB0Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <!-- Unidade 3 -->
    <div class="unidade">
      <div class="texto">
        <h2>Branca de Neve</h2>
      </div>
      <div class="texto">
        <p>Março de 2025 nos cinemas</p>
      </div>
      <div class="video">
        <iframe width="320" height="180" src="https://www.youtube.com/embed/nZDqEm54n5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</body>
</html>
