body {
  background: linear-gradient(to top, rgb(66, 183, 223), darkblue);
}

/* Container principal da exibição do personagem */
.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)); 
  gap: 35px;
  max-width: 12500px;
  margin: 25px auto;
  padding: 10px;
  background-color:  rgb(66, 183, 223);
}
h1 {
  color: whitesmoke;
  font-size: 38px;
  align-items: center;
  display: flex;
  justify-content: center;

}
h2 {
  color: whitesmoke;
  justify-content : center;
  align-items: center;
  font-size: 24px;
}
h3{
   color:whitesmoke;
   font-size: 20px;
}
p{
  font-size: 15px;
  color:whitesmoke;
  align-items: center;
  justify-content : center;
}
.card{
  width: 280px;
  border-radius: 15px;
  background: #55c9c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
  align-items: center;

}
/* Imagem do personagem */
img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 15px;
  align-items: center;
  align-content: center;
}

/* Nome do personagem */
.capsula h2 {
  font-size: 1.5rem;
  color: #007BFF;
  margin: 5px 0;
}

/* Detalhes adicionais */
.capsula .detalhes {
  font-size: 1rem;
  color: #555;
  text-align: center;
}
