<form [formGroup]="produtoForm" (ngSubmit)="adicionarProduto()">
  <label for="title">Título:</label>
  <input id="title" formControlName="title" />

  <label for="price">Preço:</label>
  <input id="price" formControlName="price" type="number" />

  <label for="description">Descrição:</label>
  <input id="description" formControlName="description" />

  <label for="category">Categoria:</label>
  <input id="category" formControlName="category" />

  <label for="image">Imagem:</label>
  <input id="image" formControlName="image" />

  <button type="submit">Adicionar Produto</button>
</form>
