<div class="form">
<form [formGroup]="produtoForm" (ngSubmit)="adicionarProduto()">
  <div class="title">
  <label for="title">Título:</label>
  <input id="title" formControlName="title" />
  </div>
  <div class="price">
  <label for="price">Preço:</label>
  <input id="price" formControlName="price" type="number" />
  </div>
  <div class="description">
  <label for="description">Descrição:</label>
  <input id="description" formControlName="description" />
  </div>
  <div class="category">
  <label for="category">Categoria:</label>
  <input id="category" formControlName="category" />
  </div>
  <div class="image">
  <label for="image">Imagem:</label>
  <input id="image" formControlName="image" />
  </div>
  <div class="submit">
  <button type="submit">Adicionar Produto</button>
  </div>
</form>
</div>
