header{
    height: 60px;
    background: rgb(61, 115, 233);
}
header img {
    display: block;
    margin-top: auto; 
    justify-content: left; 
}
nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: red;
}
nav a{
    color: rgb(255, 255, 255);
    padding: 5px;
}